@media only screen{
    div.banner-wrap {
        @media only screen and (min-width:40.063em){
            background: url('/includes/banner.jpg') right top no-repeat;
            background-size: 78% auto;
        }
        @media only screen and (min-width:44.9375em){
            background-size: 66% auto;
        }
        @media only screen and (min-width:63.064em){
            max-width: 82.125em; 
            margin: 0 auto;
            background-color: $green; /*Fallback Color */
            background-image: url('/includes/banner.jpg') right top no-repeat; /* fallback image */
            background: url('/includes/banner.jpg') right top / 74.5% auto no-repeat, -webkit-gradient(linear, left top, left bottom, from($msu-green), to($green)); /* Saf4+, Chrome */
            background: url('/includes/banner.jpg') right top / 74.5% auto no-repeat, -webkit-linear-gradient(top, $msu-green, $green); /* Chrome 10+, Saf5.1+, iOS 5+ */
            background: url('/includes/banner.jpg') right top / 74.5% auto no-repeat, -moz-linear-gradient(top, $msu-green, $green); /* FF3.6 */
            background: url('/includes/banner.jpg') right top / 74.5% auto no-repeat, -ms-linear-gradient(top, $msu-green, $green); /* IE10 */
            background: url('/includes/banner.jpg') right top / 74.5% auto no-repeat, -o-linear-gradient(top, $msu-green, $green); /* Opera 11.10+ */
        }
    }
    div.banner-text{
        @include linear-gradient($msu-green, $green); 
        color: #fff;
        padding: 1em .9375em .5em .9375em;
        line-height: 1.5;
        @media only screen and (min-width:40.063em){
            @include border-radius(0 7em 7em 0);
            padding-right: 5em;
           // @include box-shadow( inset -.618675em, .4375em, .618675em, #000 );
            @media only screen and (min-width:64.063em){
                @include border-radius(0 0 0 0);
                padding-right: .9375em;
                min-height:15.25em;
            }
        }
    }
}
