@media only screen {
    div#networkElement{
        display: none;
        @media only screen and (min-width:64.063em){
            display: block;
        }
    }
    header{
        @include linear-gradient($msu-green, $green);
        color: #fff;
        padding-bottom: 1em;
        @include box-shadow( 0, .4375em, .618675em, #333 );
        position: relative;
        z-index: 10;
        .masthead-row {
            .masthead {
                height:2.125em;
                margin-top:1em;
                a{
                    background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.svg") no-repeat scroll left center transparent;
                    background-size: 100% auto;
                    display: block;
                    height: 2.125em;
                    text-indent: -999em;
                    @media only screen and (min-width:30.4375em){
                        background-size: auto;
                    }
                    @media only screen and (min-width: 64.063em){
                        display: inline-block;
                        width:50%;
                    }
                }
            }
        }
        .title-row {
           padding-top:.75em;
            h1{
                margin: 0;
                a{
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: .6em;
                    font-weight: 400;
                    span{
                        display: block;
                        font-weight: 900;
                        font-size: 1.5em;
                    }
                }
            }
        }
        #cse-search-box{
            display:none;
            @media only screen and (min-width:64.063em){
                display: block;
            }
        }
    }
    header.home{
        @include linear-gradient(#fff, #fff);
        background-color: #fff;
        color: $green;
        .masthead-row{
            div.masthead{
                a{
                    background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.svg") no-repeat scroll left center transparent;
                    background-size: 100% auto;
                    @media only screen and (min-width:30.4375em){
                        background-size: auto;
                    }
                    @media only screen and (min-width: 64.063em){
                        display: inline-block;
                        width:50%;
                    }
                }
            }
        }
        .title-row{
            h1{
                margin: 0;
                a{
                    color: $green;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: .6em;
                    font-weight: 400;
                    span{
                        display: block;
                        font-weight: 900;
                        font-size: 1.5em;
                    }
                }
            }  
        }
    }
}
@media only screen and (min-width:40.063em) {
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em; 
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        width:16em;
        padding-left:.25em;
        margin-top: .1875em;
        color: #000;
    }
    .masthead form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
}