@media only screen {
    p#nav-button {
        position:relative;
        margin:0;
    }
    p#nav-button a {
        background:url("http://expeng.anr.msu.edu/images/sitewide/departments/menu-home.svg") no-repeat 0 0 transparent;
        background-size:100% auto;
        display:block;
        height:3.625em;
        overflow:hidden;
        position:absolute;
        right:-0.9375em;
        text-indent:9999em;
        top:-0.5em;
        width:4em;
    }
    header.home p#nav-button a {
        background:url("http://expeng.anr.msu.edu/images/sitewide/departments/menu.svg") no-repeat 0 0 transparent;
        background-size:100% auto;
    }
    nav#mobile-nav {
        width:0; /* collapsed */
        overflow:hidden;
        position:fixed;
        top:0;
        right:0;
        height:100%;
        background-color:#E08D8E;
        z-index:10;
        transition: width 0.3s ease;
    }
    nav#mobile-nav .title-mobile {
        font-size:1.6em;
        line-height:1;
        font-weight:bold;
    }
    nav#mobile-nav p.title-mobile a:hover,
    nav#mobile-nav p.title-mobile a:focus{
        color: $green;
        text-decoration: none;
    }
    
    nav#mobile-nav a {
        text-decoration:none;
    }
    nav#mobile-nav a:hover {
        text-decoration:underline;
    }
    nav#mobile-nav.green-white {
        background-color:#19453b;
        color:#fff;
    }
    nav#mobile-nav.white-green {
        background-color:#fff;
        color:#19453b;
    }
    nav#mobile-nav.white-grey {
        background-color:#fff;
        color:#404041;
    }
    nav#mobile-nav.grey-white {
        background-color:#404041;
        color:#fff;
    }
    nav#mobile-nav p.close {
        text-align:right;
        text-transform:uppercase;
    }
    nav#mobile-nav p.close a {
        background-size:1.25em 1.25em;
        padding-left:1.875em;	
    }
    nav#mobile-nav p.close a:hover,
    nav#mobile-nav p.close a:focus{
        color: $green;
        text-decoration: underline;
    }
    nav#mobile-nav.white-green p.close a {
        background:url("http://expeng.anr.msu.edu/images/sitewide/close-green.svg") no-repeat scroll left center transparent;
    }
    nav#mobile-nav ul {
        list-style:none;
        margin:1.5em 0 0 0;
        padding:0;
    }
    nav#mobile-nav.grey-white li,
    nav#mobile-nav.green-white li {
        border-top:.063em solid #fff;
    }
    nav#mobile-nav.white-green li {
        border-top:.063em solid #19453b;
    }
    nav#mobile-nav.white-grey li {
        border-top:.063em solid #404041;
    }
    nav#mobile-nav li:first-child {
        border-top:none;
    }
    nav#mobile-nav li a {
        display:block;
        padding:1em .5em;
        margin:0;
        text-decoration:none;
    }
    nav#mobile-nav.green-white a,
    nav#mobile-nav.green-white li a {
        color:#fff;
    }
    nav#mobile-nav.white-green a,
    nav#mobile-nav.white-green li a {
        color:#19453b;
    }
    nav#mobile-nav.white-grey a,
    nav#mobile-nav.white-grey li a {
        color:#404041;
    }
    nav#mobile-nav.grey-white a,
    nav#mobile-nav.grey-white li a {
        color:red;
    }
    nav#mobile-nav a:hover {
        text-decoration:underline;
        color:rgb(255,255,255);
    }
    nav#mobile-nav li.here a,
    nav#mobile-nav li a:focus {
        background-color:$green;
        text-decoration:underline;
        color:#fff;
    }
    nav#mobile-nav ul ul {
        border-top:.063em solid rgb(0,0,0);
        margin-top: 0;
    }
    nav#mobile-nav li.level_2 a {
        background-color:$msu-green-ten;
        color: $green;
    }
    nav#mobile-nav:target {
        width:15em;
        padding:1em;
        overflow-y:visible;
        z-index:500;

    }
    nav#mobile-nav form { 
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #999999;
        border-radius: 3px;
        height: 28px;
        margin-bottom: 12px;
        width: 13em;
        overflow:hidden;
    }
    nav#mobile-nav form input[type=text] { 
        border:none;
        width:10.5em;
        padding-left:.25em;
    }
    nav#mobile-nav form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        float: right;
        height: 28px;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2em;
    }
    nav#mobile-nav:target + #wrap { 
        position:fixed;
        left:-15em;
        overflow-x:hidden;
        overflow-y:visible;
    }
    nav#mobile-nav:target ~ a#nav-button.nav-button {
        position:absolute;
        top:-500em !important;
    }
    nav#mobile-nav:target + #dark-cover {
        position:fixed;
        width:100%;
        height:100%;
        z-index:200;
        background-color: rgba(0,0,0,0.70);	
    }
    nav#mobile-nav:target + #dark-cover + #outer-wrap {
        overflow:hidden;
    }
}
@media only screen and (min-width: 64.063em) {
    p#nav-button,
    nav#mobile-nav,
    div#dark-cover,
    ul#mobile-nav  { 
        display:none; 
    }
}